table {
    margin: 0;
    border-collapse: collapse;
}
th{
    background-color: gray;
    width: 25%;
    border: 1px solid black;
}
td{
    border: 1px solid black;
}
@media screen and (max-width:430px){
    th{
        display: none;
    }
    tr{
        display: flex;
        flex-direction: column;
        margin-bottom: 3%;
    }
    td{
        text-align: center;
    }
    .one{
        background-color: gray;
    }
}